.pagination
  .container
    .prev
      | {block:PreviousPage}
      a(href='{PreviousPage}#direct') <<
      | {/block:PreviousPage}

    .next
      | {block:NextPage}
      a(href='{NextPage}#direct') >>
      | {/block:NextPage}
