.text
  .date
    background-color #454545

  .title
    margin 0
    background-color #454545

    a
      display block
      color #fff
      text-decoration none
      font-family sans-serif
      padding-left 8%
      width 82%
      min-width 700px
      max-width 900px

  .caption
    img
      max-width 500px
