.link
  .date
    background-color #54B982

  .title
    background-color #54B982
    margin 0

    a
      display block
      color #fff
      text-decoration none
      font-family sans-serif
      padding-left 8%
      width 82%
      min-width 700px
      max-width 900px
