.post.chat
  include ../../date.jade

  .contents
    | {block:Title}
    h2
      a(href='{Permalink}') {Title}
    | {/block:Title}
    ul
      | {block:Lines}
      li
        | {block:Label}
        .label {Label}
        | {/block:Label}
        .line {Line}
      | {/block:Lines}
    .starcontainer
