.post.photo
  .contents
    | {block:Photos}
    .picture
      img(src='{PhotoURL-1280}', alt='{PhotoAlt}')
    | {/block:Photos}
    include ../../date.jade
    .caption
      | {block:Caption}
      |   {Caption}
      | {/block:Caption}
