footer
  text-align center
  background-color #451300
  padding-top 1em
  padding-bottom 5em

  input
    font-size 2em

  a
    font-size 5em
    text-decoration none
    color #fff

    &:hover
      color #fff
