footer
  form(action='/search', method='get')
    input(name='q', onClick="javascript:if (this.value == '{lang:Search}') this.value = '';", type="text", value="{lang:Search}")
  a(href='http://jgs.me') jgs.me
