.post.audio
  .contents
    | {block:IfShowAlbumArtOnAudioPosts}
    |   {block:AlbumArt}
    img(alt='{block:Artist}{Artist}{/block:Artist}{block:TrackName} - {TrackName}{/block:TrackName}', src='{AlbumArtURL}')
    .player {AudioPlayerBlack}
    include ../../date.jade
    .caption
      | {block:Caption}
      |   {Caption}
      | {/block:Caption}
    |   {/block:AlbumArt}
    | {/block:IfShowAlbumArtOnAudioPosts}
